/* Fonts
--------------------------------------------------------------- */
@font-face {
  font-family: "FONT NAME";
  src: url(""); 
  }


/* Body
------------------------------------------------------ */


body {
	font: 600 18px 'FONT NAME', sans-serif;
    margin: 20px;
    padding-bottom: 16px;
}


/* Headlines
------------------------------------------------------ */


h1 {
    
}

h2 {
    padding: 16px 0px 0px 8px;
    font-size: 1.2em;
    font-weight: 600;
    
}



/* Suchfelder
------------------------------------------------------ */


#searchInput{
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
}

#colorFilter {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
}



/* Listen
------------------------------------------------------ */


#wordList {
    list-style-type: none; /* Entfernt die Punkte vor den Listenelementen */
    padding: 0; /* Entfernt den Standard-Einzug der Liste */
}

#wordList li {
    padding: 8px 8px 8px 16px;
    font-size: 18px;
}


/* Farbkennungen
------------------------------------------------------ */


.rot {
    background-color: #fff;
    color: #CA1437;
}

.gelb {
    background-color: #fff;
    color: #E0C327;
}

.gruen {
    background-color: #fff;
    color: #469951;
}

.lila {
    background-color: #fff;
    color: #AF2FBA;
}


.hidden {
    display: none;
}
