/* 01 IMPORT FONT FAMILY
--------------------------------------------------------------- */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../css/Montserrat/Montserrat-VariableFont_wght.ttf"); 
  
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../css/Montserrat/Montserrat-Italic-VariableFont_wght.ttf"); 
  
}


body {
    font: 600 18 px 'Montserrat-Regular', sans-serif;
    margin: 20 px;
    padding-bottom: 16 px;
}

h1 {
   
}

.zwischenhead {
    padding: 16 px 0 px 0 px 8 px;
    font-size: 1.2 em;
    font-weight: 600;
}   

#searchInput{
    padding: 10 px;
    font-size: 16 px;
    width: 80 %;
    max-width: 400 px;
    margin-bottom: 20 px;
}

#colorFilter {
    padding: 10 px;
    font-size: 16 px;
    width: 80 %;
    max-width: 400 px;
    margin-bottom: 20 px;
}

#wordList {
    list-style-type: none; /* Entfernt die Punkte vor den Listenelementen */
    padding: 0; /* Entfernt den Standard-Einzug der Liste */
}

#wordList li {
    padding: 8 px 8 px 8 px 16 px;
    font-size: 18 px;
}

.rot {
    background-color: #fff;
    color: #CA1437;
}

.gelb {
    background-color: #fff;
    color: #E0C327;
}

.gruen {
    background-color: #fff;
    color: #469951;
}

.orange {
    background-color: #fff;
    color: #cc5500;
}

.lila {
    background-color: #fff;
    color: #AF2FBA;
}

.hidden {
    display: none;
}
